h1 {
  border-bottom: solid #383f4e 2px; }

h3 {
  margin-top: 2%; }

nav .btn-nav {
  margin: 0.2%;
  font-weight: 600; }

.container {
  margin-top: 8%;
  margin-bottom: 2%;
  font-size: 1.1em; }
  .container .aside {
    padding-left: 0px; }
  .container .content #photoMoi2 {
    width: 100px;
    margin-top: 20px;
    border: 4px white solid;
    border-radius: 100px; }
  .container .content #headerTextRight {
    margin-top: 20px; }
  .container .content .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 2%; }
    .container .content .articles .article {
      border-bottom: solid #d5d8dc 1px;
      margin: 2px;
      padding: 10px;
      height: auto;
      width: 49%;
      overflow: hidden; }
      .container .content .articles .article .titleArticle {
        text-transform: none;
        font-size: 1em; }
      .container .content .articles .article .subtitleArticle, .container .content .articles .article .contentArticle {
        margin-top: 2%;
        text-align: justify;
        font-size: 1em; }
      .container .content .articles .article .dateCreationArticle {
        margin-top: 2%;
        text-align: justify;
        font-size: 0.8em; }
    .container .content .articles .idArticle {
      border: solid black 1px;
      margin: 2px;
      padding: 10px;
      height: auto;
      width: 90%; }
      .container .content .articles .idArticle .titleArticle {
        text-transform: none;
        font-size: 1.3em; }
      .container .content .articles .idArticle .subtitleArticle, .container .content .articles .idArticle .contentArticle {
        margin-top: 2%;
        text-align: justify;
        font-size: 1em; }
      .container .content .articles .idArticle .dateCreationArticle {
        margin-top: 2%;
        text-align: justify;
        font-size: 0.8em; }
  .container .content .pagesManagement {
    margin-top: 2%;
    border: 1px solid #d2d5d6;
    text-align: center; }
  .container .content .comments .comment {
    background-color: #d2d5d6;
    border: solid 1px #d2d5d6;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    width: 70%; }
    .container .content .comments .comment .dateComment {
      margin-top: 2%;
      text-align: justify;
      font-size: 1.1em; }
    .container .content .comments .comment .contentComment {
      margin-top: 2%;
      text-align: justify;
      font-size: 1em; }
  .container .content .contactForm {
    margin-top: 2%; }
  .container .content .notification {
    margin-top: 2%; }
  .container .content .tableCommentsAdministration {
    border-collapse: collapse; }
    .container .content .tableCommentsAdministration th {
      text-align: center; }
    .container .content .tableCommentsAdministration th, .container .content .tableCommentsAdministration td {
      border: 1px solid black;
      padding: 5px; }

.footer {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #2c3e50;
  color: #fff; }

@media screen and (max-width: 1400px) {
  .container {
    margin-top: 11%; } }
@media screen and (max-width: 1010px) {
  h1 {
    font-size: 2em; }

  h4 {
    font-size: 1.3em; }

  nav {
    font-size: 1em; }
    nav .btn-nav {
      margin: 1px 1px;
      font-size: 0.9em; } }
@media screen and (max-width: 643px) {
  .container {
    margin-top: 25%; } }
@media screen and (max-width: 460px) {
  .container {
    margin-top: 31%; }
    .container #divPhotoMoi2 #photoMoi2 {
      width: 80px; } }
@media screen and (max-width: 364px) {
  h1 {
    font-size: 1.4em; }

  h4 {
    font-size: 1.1em; }

  nav {
    font-size: 0.9em; }
    nav .btn-nav {
      margin: 15px 1px;
      font-size: 0.8em; }

  .container {
    margin-top: 55%; }
    .container #divPhotoMoi2 #photoMoi2 {
      width: 60px; } }

/*# sourceMappingURL=style.css.map */
