h1 {
	border-bottom: solid #383f4e 2px;
}

h3 {
	margin-top: 2%;
}

nav {
	.btn-nav {
		margin: 0.2%;
		font-weight: 600;
	}
}

.container {
	margin-top: 8%;
	margin-bottom: 8%;
	font-size: 1.1em;
	.aside {
		padding-left: 0px;
	}
	.content {
		#photoMoi2 {
			width: 100px;
			margin-top: 20px;
			border: 4px white solid;
			border-radius: 100px;
		}
		#headerTextRight {
			margin-top: 20px;
		}
		.articles {
			display: flex;
			flex-wrap: wrap;
			justify-content: left;
			margin-top: 2%;

			.article {
				border-bottom: solid #d5d8dc 1px;
				margin: 2px;
				padding: 10px;
				height: auto;
				width: 49%;
				overflow: hidden;

				.titleArticle {
					text-transform: none;
					font-size: 1em;
				}

				.subtitleArticle, .contentArticle {
					margin-top: 2%;
					text-align: justify;
					font-size: 1em;
				}

				.dateCreationArticle {
					margin-top: 2%;
					text-align: justify;
					font-size: 0.8em;
				}
			}

			.idArticle {
				border: solid black 1px;
				margin: 2px;
				padding: 10px;
				height: auto;
				width: 90%;

				.titleArticle {
					text-transform: none;
					font-size: 1.3em;
				}

				.subtitleArticle, .contentArticle {
					margin-top: 2%;
					text-align: justify;
					font-size: 1em;
				}

				.dateCreationArticle {
					margin-top: 2%;
					text-align: justify;
					font-size: 0.8em;
				}
			}
		}
		.pagesManagement {
			margin-top: 2%;
			border: 1px solid #d2d5d6;
			text-align: center;
			.previousPage {

			}
			.currentPage {

			}
			.nextPage {

			}
		}
		.comments {

			.comment {
				background-color: #d2d5d6;
				border: solid 1px #d2d5d6;
				margin-top: 2%;
				margin-bottom: 2%;
				padding: 1%;
				width: 70%;
				.dateComment {
					margin-top: 2%;
					text-align: justify;
					font-size: 1.1em;
				}
				.contentComment {
					margin-top: 2%;
					text-align: justify;
					font-size: 1em;
				}
			}
		}
		.contactForm {
			margin-top: 2%;
		}
		.notification {
			margin-top: 2%;
		}
		.tableCommentsAdministration {
			border-collapse: collapse;
			th {
				text-align: center;
			}
			th, td {
				border: 1px solid black;
				padding: 5px;
			}
		}
	}
}

.footer {
	padding-top: 10px;
	padding-bottom: 15px;
	background-color: #2c3e50;
	color: #fff;
	#connexionLink {
		padding-top: 30px;
	}
}





@media screen and (max-width: 1400px) {
	.container {
		margin-top: 11%;
	}
}

@media screen and (max-width: 1010px) {
	h1 {
		font-size: 2em;
	}
	h4 {
		font-size: 1.3em;
	}
	nav {
		font-size: 1em;
		.btn-nav {
			margin: 1px 1px;
			font-size: 0.9em;
		}
	}
	footer {
		h4 {
			font-size: 1em;
		}
		.btn-social {
			width: 1rem;
			height: 2rem;
			font-size: 1rem;
		}
	}
}

@media screen and (max-width: 643px) {
	.container {
		margin-top: 25%;
	}
}

@media screen and (max-width: 460px) {
	.container {
		margin-top: 31%;
		#divPhotoMoi2 {
			#photoMoi2 {
				width: 80px;
			}
		}
	}
}

@media screen and (max-width: 364px) {
	h1 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 1.1em;
	}
	nav {
		font-size: 0.9em;
		.btn-nav {
			margin: 15px 1px;
			font-size: 0.8em;
		}
	}
	.container {
		margin-top: 55%;
		#divPhotoMoi2 {
			#photoMoi2 {
				width: 60px;
			}
		}

	}
}





