{% extends 'layout.twig' %}


{% block head %}
    <title>Page non disponible</title>
{% endblock %}


{% block content %}
    <p>
        Erreur 403 : vous ne pouvez pas accéder à cette page. <br/>
        Pour y accéder, veuillez vous connecter à votre compte.
    </p>
{% endblock %}
