{% extends 'layout.twig' %}


{% block head %}
    <title>Valider des commentaires</title>
{% endblock %}

{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
    </section>
{% endblock %}

{% block content %}
    <section class="content col-9">
        <h1>Commentaires en attente</h1>
    </section>
{% endblock %}