{% extends 'layout.twig' %}


{% block head %}
    <title>Supprimer un article</title>
{% endblock %}


{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
        <a href="index.php?page=seeMyProfile" class="btn btn-info">Voir mon profil</a>
    </section>
{% endblock %}


{% block content %}
    <section class="content col-9">

        {% if token %}

        <h1>Supprimer un article</h1>

        <div>
            <p>Etes-vous sûr de vouloir supprimer cet article ? (Attention, cette action aura pour conséquence la suppression de tous les commentaires associés à cet article).</p>
            <form method="post" action="index.php?page=deleteArticle&idArticle={{ idArticle }}&conf=true" style="display: inline;">
                <button class="btn btn-info" name="conf" value="true">Oui</button>
                <input type="hidden" name="token" value={{ token }} />
            </form>
            <form method="post" action="index.php?page=manageArticle&idArticle={{ idArticle }}" style="display: inline;">
                <button class="btn btn-info">Non</button>
            </form>
        </div>
        {% else %}

            <h2>Vous n'avez pas le droit d'être ici !</h2>

        {% endif %}

{% endblock %}

{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}