{% extends 'layout.twig' %}


{% block head %}
    <title>Accueil administrateur</title>
{% endblock %}

{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
        <a href="index.php?page=seeMyProfile" class="btn btn-info">Voir mon profil</a>
    </section>
{% endblock %}

{% block content %}
    <section class="content col-9">
        <h1>Bienvenue sur l'espace administrateur</h1>
        <div>
            <p>L'espace administrateur vous permet de gérer le contenu de l'application en permettant :
                <ul>
                    <li>L'ajout d'articles</li>
                    <li>La modification d'articles</li>
                    <li>La modération des commentaires</li>
                </ul>
            </p>
            <p>Seuls les administrateurs ont accès à cet espace.</p>
        </div>

    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}