{% extends 'layout.twig' %}


{% block head %}
    <title>Accueil administrateur</title>
{% endblock %}

{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
        <a href="index.php?page=seeMyProfile" class="btn btn-info">Voir mon profil</a>
    </section>
{% endblock %}

{% block content %}
    <section class="content col-9">
        <h1>Bienvenue sur l'espace administrateur</h1>
        <p>Blabla de la page d'accueil</p>
    </section>
{% endblock %}