{% extends 'layout.twig' %}


{% block head %}
    <title>Ajouter un article</title>
{% endblock %}


{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
        {{ lienDeconnexion | raw }}
    </section>
{% endblock %}


{% block content %}
    <section class="content col-9">

        {{ msgAddArticle | raw }}

        <h5>Ajouter un article</h5>
            <form method="post" class="contactForm">
                <div class="form-group">
                    <label for="titleArticle">Titre</label>
                    <input type="text" name="titleArticle" id="titleArticle" class="form-control"/>
                    <br/>
                    <label for="subtitleArticle">Sous-titre</label>
                    <input type="text" name="subtitleArticle" id="subtitleArticle" class="form-control"/>
                    <br/>
                    <label for="contentArticle">Contenu</label>
                    <textarea name="contentArticle" rows="10" id="contentArticle" class="form-control"></textarea>
                    <input type="hidden" name="idPerson" value="1" />
                </div>
                <input type="submit" class="btn btn-primary">
            </form>
    </section>
{% endblock %}