{% extends 'layout.twig' %}


{% block head %}
    <title>Contact</title>
{% endblock %}


{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
        {{ lienDeconnexion | raw }}
    </section>
{% endblock %}


{% block content %}
    <section class="content col-9">
    <h1>Page de contact</h1>
        <form class="contactForm">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom" placeholder="Votre nom" class="form-control" />
                <br/>
                <label for="prenom">Prénom</label>
                <input type="text" name="prenom" id="prenom" placeholder="Votre prénom" class="form-control" />
                <br/>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Votre adresse email" class="form-control" />
                <br/>
                <label for="objet">Objet</label>
                <input type="text" name="objet" id="objet" placeholder="Objet du message" class="form-control" />
                <br/>
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="3" class="form-control" placeholder="Entrez votre message ici"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Envoyer" />
        </form>
    </section>
{% endblock %}
