{% extends 'layout.twig' %}


{% block head %}
    <title>Contact</title>
{% endblock %}


{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
        <a href="index.php?page=seeMyProfile" class="btn btn-info">Voir mon profil</a>
    </section>
{% endblock %}


{% block content %}
    <section class="content col-9">
    <h1>Page de contact</h1>
        {{ messageMail | raw }}
        {{ resultMessage }}
        <form method="post" class="contactForm">
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" name="name" id="name" placeholder="Votre nom" class="form-control" />
                <br/>
                <label for="surname">Prénom</label>
                <input type="text" name="surname" id="surname" placeholder="Votre prénom" class="form-control" />
                <br/>
                <label for="emailFrom">Email</label>
                <input type="email" name="emailFrom" id="emailFrom" aria-describedby="emailHelp" placeholder="Votre adresse email" class="form-control" />
                <br/>
                <label for="subject">Objet</label>
                <input type="text" name="subject" id="subject" placeholder="Objet du message" class="form-control" />
                <br/>
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="3" class="form-control" placeholder="Entrez votre message ici"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Envoyer" />
        </form>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}