{% extends 'layout.twig' %}


{% block head %}
    <title>Accueil</title>
{% endblock %}


{% block content %}
    <section class="content col-9">
        <h1>Page d'accueil</h1>
        {{ messageCreateMember | raw }}
        <p>Blabla de la page d'accueil</p>
    </section>
{% endblock %}
