{% extends 'layout.twig' %}


{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
        <a href="index.php?page=seeMyProfile" class="btn btn-info">Voir mon profil</a>
    </section>
{% endblock %}


{% block content %}
    <section class="content col-9" id="homeSection">

        <h1>Bienvenue sur la page d'accueil de mon blog professionnel !</h1>

        {{ messageCreateMember | raw }}

        <div class="row">

            <div class="col-4 col-lg-2 col-md-3 col-sm-3" id="divPhotoMoi2">
                <img src="public/img/moi2.jpg" alt="photo de Claire Coubard" id="photoMoi2" />
            </div>

            <div class="col-8 col-lg-10 col-md-9 col-sm-9" id="headerTextRight">
                <p>
                    <strong id="headerTextNom">Claire COUBARD</strong> <br/>
                    <strong id="headerTextMetier">Développeuse PHP/Symfony</strong> <br/>
                    <span id="headerTextEntreprise">En contrat de professionnalisation chez <strong>Téïcée</strong>.</span> <br/>
                </p>
            </div>
        </div>

        <hr/>

        <div>
            <p>
                <em id="headerTextPresentation">
                    Diplômée d’un titre professionnel de développeur logiciel, je continue à acquérir des compétences en développement web dans le cadre d’un contrat de professionnalisation. <br/>
                    Autonome, je réalise une veille technologique permanente et possède par ailleurs de bonnes capacités rédactionnelles et relationnelles.
                </em>
            </p>

        </div>

        <div>
            <p>Retrouvez mon CV <a href="https://www.slideshare.net/slideshow/embed_code/key/9oNAMQJQzvMv6k" target="_blank">ici</a></p>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}
