<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="./vendor/startbootstrap-freelancer-gh-pages/css/freelancer.css" />
        <link href="public/css/style.css" rel="stylesheet" />
        {% block head %}{% endblock %}
    </head>

    <body>

        <div class="container-fluid">

            <header>
                <h2>Blog professionnel</h2>
            </header>
            
            <section class='container'>
            
                {% block content %}{% endblock %}
            
            </section>
            

