<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Custom fonts for this theme -->
        <link href="vendor/startbootstrap-freelancer-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" href="vendor/startbootstrap-freelancer-gh-pages/css/freelancer.min.css">
        <link rel="stylesheet" href="public/css/style.css" />

        <link href="vendor/datatables/datatables/media/css/jquery.dataTables.css" />
        <script src="https://www.google.com/recaptcha/api.js?render=6LfA2b4UAAAAAB4MXepKqzHifKtV5yq50udTfa4g"></script>

        {% block head %}{% endblock %}
    </head>

    <body id="page-top">

    {% if not isConnected %}
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <a class="navbar-brand js-scroll-trigger" href="index.php?page=home">Blog professionnel</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.php?page=home">Accueil</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.php?page=blog">Blog</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.php?page=contact">Contact</a>
                    </li>
                </ul>
            </div>
            <a class="btn btn-primary" href="index.php?page=inscription">S'inscrire</a>
            <a class="btn btn-primary" href="index.php?page=connexion">Se connecter</a>
        </nav>
    {% else %}
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <a class="navbar-brand js-scroll-trigger" href="index.php?page=home">Blog professionnel</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.php?page=adminHome">Accueil</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.php?page=addArticle">Ajouter un article</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.php?page=manageArticles">Administrer les article</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.php?page=manageComments">Administrer les commentaires</a>
                    </li>
                </ul>
            </div>
            <a class="btn btn-primary" href="index.php?page=deconnexion">Se déconnecter</a>
        </nav>
    {% endif %}

        <section class="container">
            <div class="row">
                {% if isConnected %}
                    {% block aside %}{% endblock %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </section>

    {% block footer %}{% endblock %}

    </body>


    <!-- jQuery -->
    <script src="vendor/startbootstrap-freelancer-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script
            src="http://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/startbootstrap-freelancer-gh-pages/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="./vendor/datatables/datatables/media/js/jquery.dataTables.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="vendor/startbootstrap-freelancer-gh-pages/js/jqBootstrapValidation.js"></script>
    <script src="vendor/startbootstrap-freelancer-gh-pages/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="vendor/startbootstrap-freelancer-gh-pages/js/freelancer.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block script %}{% endblock %}

</html>
            

